div.container {
    width: 100%;
    min-height: calc(100vh - 230px);
}

div.page-wrap {
    width: 100%;
    max-width: 1200px;
    min-height: calc(100vh - 230px);
    margin: auto;
    padding: 15px;

    h2, h3, h4, h5 {
        font-weight: 400;
    }
}