div.page-wrap.page-examples {
    div.example {
        width: 100%;

        div.example-buttons {
            display: flex;
            align-items: center;
            width: 100%;
            height: 45px;
            margin: 0 0 15px 0;

            a.example-button {
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(107deg, rgba(77,118,255,1) 0%, rgba(15,63,140,1) 100%);
                color: white;
                width: 180px;
                height: 30px;
                border-radius: 5px;
                margin: 0 15px 0 0;
                opacity: 0.75;
                cursor: pointer;
                font-size: 12px;
                font-weight: bold;
                text-decoration: none;
                transition: opacity 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);

                i {
                    margin: 0 10px 0 0;
                }

                &:hover, &.active { opacity: 1; }
            }
        }
    }

    div.example-content {
        display: flex;

        div.example-text {
            width: calc(100% - 480px);
            padding: 0 30px 0 0;
        }

        div.CodeMirror {
            width: 480px;
            height: 180px;
        }
    }
}